@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
 :root {
    /*========Maintheme color====*/
    --first-color: #0e2431;
    --second-color: #c31432;
    --third-color: #777;
    /*======Hover colors==*/
    --hover-color: #c31432;
    /*====Bckground colors====*/
    --body-bg-color: #fefefe;
    --card-bg-color: #fff;
    --model-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --transparent-color-01: rgba(0, 0, 0, 0.1);
    --transparent-color-02: rgba(106, 89, 209, 0.1);
    --line-color: #d7d7d7;
    /*Color filter*/
    --color-filter: invert(1);
    /*Box shadow*/
    --box-shadow: 0px 0px 20px rgb(0 0 0 /10%);
    /*Font size*/
    --small-font-size: 0.9em;
    --normal-font-size: 1em;
    /*====Scroll bar colors===*/
    --scroll-bar-color: #FBD3E9;
    --scroll-thumb-color: #BB377D;
    --scroll-thumb-hover-color: #b06ab3;
}

.dark-theme {
    /*========Maintheme color====*/
    --first-color: #fff;
    --second-color: #c31432;
    --third-color: #a9afc3;
    /*====Bckground colors====*/
    --body-bg-color: #0e1b31;
    --card-bg-color: #132347;
    --model-bg-color: #102048;
    --bg-transparent-color: rgba(255, 255, 255 0.1);
    --transparent-color-01: rgba(255, 255, 255, 0.1);
    --line-color: #454f6b;
    /*Color filter*/
    --color-filter: invert(0);
    /*====Scroll bar colors===*/
    --scroll-bar-color: #c1ceff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--first-color);
    background: var(--body-bg-color);
    transition: 0.1s;
}


/*=========scroll to top====*/

.scrollToTop-btn {
    z-index: 99999;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background: var(--second-color);
    color: #fff;
    font-size: var(--small-font-size);
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: .5s ease;
}

.scrollToTop-btn.active {
    right: 20px;
    pointer-events: all;
    opacity: 1;
}


/*========light/dark theme=====*/

.theme-btn {
    z-index: 999999;
    position: fixed;
    right: 0;
    top: 180px;
    background: var(--line-color);
    /*var(--transparent-color-01);*/
    backdrop-filter: blur(20px);
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 5px 0 0 5px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.theme-btn .fa-sun,
.theme-btn.sun .fa-moon {
    display: none;
}

.theme-btn.sun .fa-sun {
    display: block;
}


/*========Scroll bar=====*/

::-webkit-scrollbar {
    width: 10px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 200px;
    transition: 0.6s ease;
}

header.sticky {
    background: linear-gradient(to right, #D38312, #A83279);
    /*rgba(255, 255, 255, 0.1);*/
    box-shadow: var(--box-shadow);
}

header .brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3 ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
    background: var(--hover-color);
}

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #520432;
}

.home::before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(3, 96, 251, 0.3);
    width: 1005;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.home .content a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.home .content a:hover {
    width: 30%;
    background: var(--hover-color);
    transition: 1s;
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .navbtn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 1s ease;
}

.slider-navigation .navbtn.active {
    background: #c31432;
}

.slider-navigation .navbtn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .navbtn:hover {
    transform: scale(1.2);
    width: auto;
}

.slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

.section {
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6em 2rem 2rem;
}

.sub-section {
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.container {
    position: relative;
    flex-direction: column;
}

.section-title-01 {
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}

.section-title-02 {
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
}

.section-title-02::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: var(--second-color);
}


/*Our Products Section*/

.products .container .content {
    width: 100%;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 35px;
    margin: 0 auto;
}

.product-list .img-card {
    position: relative;
    max-width: 100%;
    height: 360px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    cursor: pointer;
}

.product-list .img-card .overlay {
    transition: 1s ease;
}

.product-list .img-card:hover .overlay {
    z-index: 777;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.product-list .img-card .info {
    z-index: 777;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: #fff;
    transform: translateY(20px);
    opacity: 0;
    transition: .5s ease;
}

.product-list .img-card:hover .info {
    transform: translateY(0);
    opacity: 1;
}

.product-list .img-card .info h3 {
    font-size: 1.5em;
}

.product-list .img-card .info span {
    font-size: 1.2em;
}

.product-list .img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products-model {
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--transparent-color-01);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}

.products-model.active {
    visibility: visible;
    opacity: 1;
}

.products-model-body {
    position: relative;
    background: var(--modal-bg-color);
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(-50px);
    transition: .5s ease;
}

.products-model.active .products-model-body {
    transform: translateY(0);
}

.products-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.products-model-body h3 {
    font-size: 1.5em;
}

.products-model-body img {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}


/*about section*/

.about-btn {
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.about-btn:hover {
    background: var(--hover-color);
}

.section {
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6em 2rem 2rem;
}

.sub-section {
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.container {
    position: relative;
    flex-direction: column;
}

.section-title-01 {
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}

.section-title-02 {
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
}

.section-title-02::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: var(--second-color);
}

.about .container .content {
    column-gap: 40px;
    width: 100%;
}

.about-img {
    position: relative;
}

.about-img img {
    max-width: 100%;
    min-width: 500px;
    border-radius: 10px;
}

.about-info .description {
    max-width: 600px;
}

.about-info .description h3 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .description h4 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .description h4 span {
    color: var(--second-color);
}

.about-info .description p {
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--line-color);
}

.about-info .epc-achievements {
    display: flex;
    column-gap: 50px;
}

.about-info .epc-achievements .list-item h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.about-info .epc-achievements .list-item span {
    color: var(--third-color);
    font-size: var(--small-font-size);
}


/*contact us section*/

.Contact {
    height: 100vh;
    display: grid;
    align-items: center;
}

.contact-wrap {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-in {
    padding: 30px 20px;
}

.contact-in:nth-child(1) {
    flex: 30%;
    background: url(img/10.jpeg);
    color: #fff;
}

.contact-in:nth-child(2) {
    flex: 45%;
    background: linear-gradient(to right, #f80759, #bc4e9c);
    /*#800080;
     /* #ffc0cb);
     /*#FBD3E9*/
}

.contact-in:nth-child(3) {
    flex: 25%;
    padding: 0;
}

.contact-in h1 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-in h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.contact-in h2 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #f5f5f5;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}

.contact-in p {
    font: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-in ul {
    padding: 0;
    margin: 0;
}

.contact-in ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

.contact-in ul li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
}

.contact-in ul li a i {
    font-size: 14px;
    line-height: 30px;
    color: #000;
}

.contact-in form {
    width: 100%;
    height: auto;
}

.contact-in-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
    color: #fff;
}

.contact-in-textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-top: 5px;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
    color: #fff;
}

.contact-in-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.contact-in iframe {
    width: 100%;
    height: 100%;
}


/*services section*/

.services .container .content {
    width: 100%;
}

.services-description h3 {
    font-size: 2em;
    margin-bottom: 50px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    max-width: 100%;
    margin: 0 auto;
    gap: 20px;
}

.service-card {
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    padding: 50px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}

.service-card>i {
    color: var(--second-color);
    font-size: 3em;
    margin-bottom: 30px;
}

.service-card h3 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}

.service-card .learn-more-btn {
    color: var(--third-color);
    cursor: pointer;
    transition: .3s ease;
}

.service-card .learn-more-btn i {
    transition: .3s ease;
    color: var(--second-color);
}

.service-card:hover .learn-more-btn i {
    transform: translateX(10px);
}

.service-modal {
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--bg-transparent-color);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}

.service-modal.active {
    visibility: visible;
    opacity: 1;
}

.service-modal-body {
    position: relative;
    background: var(--model-bg-color);
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(-50px);
    transition: .5s ease;
}

.service-modal.active .service-modal-body {
    transform: translateY(0);
}

.service-modal-body .modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.service-modal-body h3 {
    font-size: 2em;
}

.service-modal-body h4 {
    font-size: 1.3em;
    font-weight: 600;
    margin: 15px 0 10px;
}

.service-modal-body ul li {
    margin-top: 15px;
}

.service-modal-body ul li i {
    color: var(--second-color);
}


/*footer section*/

footer {
    width: 100%;
    position: absolute;
    background: linear-gradient(to right, #D38312, #A83279);
    /*(to right, #FBD3E9, #BB377D);*/
    color: #000;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 160px;
    margin-bottom: 30px;
}

.col h3 {
    font-size: large;
    width: fit-content;
    margin-bottom: 65px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #222;
    margin: 20px 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    color: #000;
}

.underline form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #666;
    margin-bottom: 50px;
}

.underline form .far {
    font-size: 18px;
    margin-right: 10px;
}

.underline form input {
    width: 100%;
    background: transparent;
    color: #000;
    border: 0;
    outline: none;
}

.underline form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.underline form button .fas {
    font-size: 16px;
    color: #000;
}

.social-icons {
    padding-top: 10px;
}

.social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #000;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #444;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #000;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}